{% extends "base.html.twig" %}

{% block body %}
	<h1>Inscription</h1>

	{{ form_start(registerForm) }}

	{{ form_widget(registerForm) }}

	<button type="submit" class="btn btn-success">Créer mon compte !</button>

	{{ form_end(registerForm) }}
{% endblock %}
