{% extends "base.html.twig" %}

{% block body %}
	<h1 class="username">@{{ user.username }}</h1>

	{% if is_granted('CAN_FOLLOW', user) %}
		<a href="" class="btn btn-primary follow">S'abonner</a>
	{% endif %}

	{% if is_granted('CAN_UNFOLLOW', user)  %}
		<a href="" class="btn btn-danger unfollow">Se désabonner</a>
	{% endif %}

	<hr>

	<section class="tweets">
		{% for tweet in user.tweets %}
			<div class="tweet">
				{{ tweet.content }}
			</div>
		{% endfor %}
	</section>
{% endblock %}
